<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <!--配置别名-->
    <typeAliases>
        <!--类型的别名就是类名-->
        <package name="com.springboothouse.entity"></package>
    </typeAliases>

    <!--添加分页的插件-->
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名
        4.1.1 PageHelper -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>


    <!--&lt;!&ndash;加载sql映射文件&ndash;&gt;-->
    <!--<mappers>-->
        <!--<mapper resource="com/springboothouse/springboothouse/mapper/DistrictMapper.xml"></mapper>-->
        <!--<mapper resource="com/springboothouse/springboothouse/mapper/HouseMapper.xml"></mapper>-->
        <!--<mapper resource="com/springboothouse/springboothouse/mapper/StreetMapper.xml"></mapper>-->
        <!--<mapper resource="com/springboothouse/springboothouse/mapper/TypeMapper.xml"></mapper>-->
        <!--<mapper resource="com/springboothouse/springboothouse/mapper/UsersMapper.xml"></mapper>-->
    <!--</mappers>-->

</configuration>